
body {
	font: monospace;
	padding: 20px;
	background: #f1f1f1;
}

.header {
	padding: 30px; 
	font-size: 40px;
	text-align: center;
	background: white;
}

.leftColumn {
	float: left;
	width: 75%;
	padding-right: 60px;
}

.rightColumn {
	float: left;
	width: 25%;
	padding left: 40px;

}

.fakeimg {
	background-color: #aaa
	width: 25%;
	padding-left: 20px;
}

.card {
	background-color: white;
	padding: 20px;
	margin-top: 20px; 
}

.card1 {
	background-color: white;
	padding: 20px;
	margin-top: 20px; 
	float: left;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn { 
    width: 100%;
    padding: 0;
  }
}